@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,600,700,900';

html , body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

textarea:focus, input:focus{
    outline: none;
}

.contenedor {
  width: 100%;
  height: 100vh;
  background-image: url('/principal.jpg');
  background-size: 100% 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(14, 14, 14, 0.8);
}

.formulario {
  width: 90%;
  padding-top: 200px;
  margin: 0 auto;

}

.formulario p {
  text-align: center;
  color: #7f8c8d;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 7.5px;
  font-size: 14px;
}

.formulario p a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.search {
  width: 80%;
  margin: 0px auto;
	position: relative;
	top: -11px;

	padding-top: 19px;
	color: white;
}
.search input {
	text-indent: 30px;
  margin-right: 0 auto;
	display: block;
	width: 100%;
  color: white;
  padding-top: 15px;
	height: 40px;
	background: transparent;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #95a5a6;

}

.search input:focus {
  border-bottom-color: #8e44ad;
}

.search .icon {
  position: absolute;
  top: 36px;
  left: 0px;
  font-size: 15px;
}

.boton {
  border: none;
  background: transparent;
  border-radius: 32px;
}

.ingresar {
  display: block;
  font-family: 'Raleway', sans-serif;
  width: 82%;
  height: 60px;
  margin: 25px auto;
  text-align: center;
  font-size: 20px;
  color: white;

  background: #834d9b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #834d9b , #d04ed6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #834d9b , #d04ed6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-weight: 300;
}

.anunciar {
  display: block;
  font-family: 'Raleway', sans-serif;
  width: 82%;
  height: 60px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 300;
  border: 2px solid white;
  background: transparent;
}

.formulario h1 {
  margin: 5px auto;
  width: 90%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.menu {
  width: 100%;
  height: 120px;
  background: #834d9b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #834d9b , #d04ed6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #834d9b , #d04ed6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.menu i {
  position: relative;
  left: 0px;
  top: 35px;
  color: white;
  display: inline-block;
  margin-left: 20px;
  font-size: 25px;
  display: block;
}

.lista {
  width: 99%;
  margin: 0 auto;
  text-align: center;
}

.lista a {
  display: inline-block;
  width: 80px;

  padding: 10px;
  margin: 40px auto 5px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-decoration: none;

}

.seleccionado {
  border: 2px solid white;
  border-radius: 25px;
}

.anuncios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

.anuncio {
  width: 80%;
  margin: 5px 7.5px;
  height: 165px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-shadow: 0px 4px 5px -3px rgba(204,200,204,0.72);
}

.anuncio img {
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 80px;
  border-radius: 70%;
}

.anuncio span {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #bdc3c7;
}

.anuncio .foot {
  position: relative;
  bottom: -6px;
  height: 40px;
  margin: 0;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  background: #ecf0f1;
}

.foot span {
  display: inline-block;
  width: 40px;
  margin: 11px 5px;
}

.perfil {
  background: #834d9b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #834d9b , #d04ed6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #834d9b , #d04ed6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 420px;
  padding-bottom: 15px;
}

.perfil p {
  width: 80%;
  margin: 15px auto;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.perfil span.s-anunciante {
  display: block;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 22.5px;
  font-family: 'Raleway', sans-serif;
}

.perfil .contacto {
  display: block;
  width: 80%;
  background-color: white;
  color: #8e44ad;
  height: 65px;
  margin: 10px auto;
  box-shadow: 0px 4px 5px -3px rgba(204,200,204,0.72);
  border: none;
  border-radius: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}

.contacto {
  display: block;
  width: 80%;
  background-color: #8e44ad;
  color: white;
  height: 65px;
  margin: 10px auto;
  box-shadow: 0px 4px 5px -3px rgba(204,200,204,0.72);
  border: none;
  border-radius: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}
.calificacion {
  width: 90%;
  margin: 20px auto;
  margin-top: 25px;
  text-align: center;
}

.calificacion button {
  display: inline-block;
  background-color: transparent;
  border: none;
}

.calificacion button > i {
  font-size: 18px;
  color: white;
}

.calificacion button > i:hover, .calificacion button > i:focus {
  color: yellow;
  cursor: pointer;
  outline: 0;
}

.swiper-container {
    width: 80%;
    margin: 0px auto;
    height: 300px;
    text-align: center;
}

.swiper-slide img {
  display: block;
  margin: 20px auto;
  margin-top: 40px;
  width: 200px;
  height: 200px;
  border-radius: 70%;
}


.caracteristicas {
  width: 100%;
  height: 250px;
}

.caracteristicas h1 {
  margin: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  height: 69px;
  font-family: 'Raleway', sans-serif;
  font-weight: initial;
  color: #8e44ad;
  padding: 15px 35px;
  z-index: 1;
  position: relative;
  top: 0;
}

.comentarios {
  width: 100%;
  height: 300px;
  background-color: white;
  z-index: 0;
  overflow-y: scroll;
}

.comentario {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #8e44ad;
}

.comentario img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 70%;
  margin-left: 30px
}

.comentario p {
  display: inline-block;
  width: 55%;
  margin-left: 40px;
  position: relative;
  top: 0px;
}

.comentario p span {
  display: block;
  color: #8e44ad;
  font-size: 20px;
  margin-bottom: 5px;
}

.comentario p a {
  display: block;
  color: #999;
  font-size: 15px;
}

table {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #8e44ad;
  /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);*/
}
table tr:hover {
  background: #f4f4f4;
}
table tr:hover td {
  color: #555;
}
table th, table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
table th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
table th.last {
  border-right: none;
}

.sidebar {
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  width: 60%;
  height: 100vh;
  transition: width;
  background: #2c3e50;
  display: none;
}

.sidebar i {
  position: relative;
  top: 30px;
  left: 40px;
  color: white;
  font-size: 24px;
}

.sidebar-lista > a {
  display: block;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-family: bold;
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
}

.sidebar-lista > button {
  background-color: transparent;
  border: none;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-family: bold;
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  margin-left: 40px;
  margin-top: 15px;
}

.sidebar-lista > button > a {
  color: white;
  text-decoration: none;
}

.mostrar {
  display: block;
}

.box-comentario {
  display: block;
  width: 90%;
  margin: 20px auto;
  height: 110px;
  border: none;
  color: #fff;
  margin-top: -10px;
}

.comentar {
  display: block;
  border: none;
  background: #8e44ad;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-radius: 35px;
  width: 90%;
  margin: 5px auto;
  height: 50px;

}
