<template name="Administrador">


</template>

<template name="menu">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SinCompromiso.pe</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/admin">Solicitudes</a></li>
          <li><a href="/admin/anuncios">Anuncios</a></li>
          <li><a href="/admin/usuarios">Usuarios</a></li>
        <!--  <li><a href="/admin/reportes">Reportes</a></li> -->
          <li><a href="/admin/contratos">Contratos</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li class="salir"><a href="#">Salir</a></li>
        </ul>
      </div>
    </div>
  </nav>



</template>

<template name="AdministradorAnuncios">

  <div class="col-md-6">
    <form style="display: block">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="tienda">Nombre de la tienda</label>
        <input type="text" name="tienda" class="form-control" id="tienda">
      </div>
      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" name="password" class="form-control" id="pwd">
      </div>
      <button type="submit" class="btn btn-default">Agregar vendedor</button>
    </form>
    <br>

  </div>

  <div class="container">
  <h2>Anuncios</h2>
  <p>Lista de anuncios aprobados</p>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Color de piel</th>
        <th>Intereses</th>
        <th>Género</th>
        <th>Edad</th>
        <th>Color de cabello</th>
        <th>Medidas</th>
        <th>Ubicación</th>
        <th>Fotos</th>
        <th>Precio</th>
        <th>Aprobar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" name="nombre">
        </td>
        <td>
          <input type="text" name="telefono">
        </td>
        <td>
          <input type="text" name="piel">
        </td>
        <td>
          <input type="text" name="intereses">
        </td>
        <td>
          <input type="text" name="genero">
        </td>
        <td>
          <input type="text" name="edad">
        </td>
        <td>
          <input type="text" name="cabello">
        </td>
        <td>
          <input type="text" name="contextura">
        </td>
        <td>
          <input type="text" name="ubicacion">
        </td>
        <td>
          Foto
        </td>
        <td>
          <input type="text" name="precio">
        </td>
        <td>
          <button class="aprob">Aprobar</button>
        </td>
      </tr>
      {{#each anuncios}}
      <tr>
        <td>{{this.nombre}}</td>
        <td>{{this.telefono}}</td>
        <td>{{this.piel}}</td>
        <td>{{this.intereses}}</td>
        <td>{{this.genero}}</td>
        <td>{{this.edad}}</td>
        <td>{{this.cabello}}</td>
        <td>{{this.contextura}}</td>
        <td>{{this.ubicacion}}</td>
        <td>
          <input type="file" id="foto">
        </td>
        <td>
          <input type="text" class="precio" name="{{this._id}}" value="{{this.precio}}">
        </td>
        <td>
          <button class="aprobar">Desaprobar</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</template>

<template name="Usuarios">

  <div class="container">
  <h2>Usuarios</h2>
  <p>Lista de usuarios registrados</p>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>

        <th>Edad</th>



      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.profile.nombre}}</td>
        <td>{{this.profile.telefono}}</td>
        <td>{{this.profile.edad}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


</template>

<template name="AdministradorContratos">
  <br>
  <div class="container">
    <br>
    <h1>Terminos y Condiciones</h1>
    <textarea name="terminos" rows="8" cols="80"></textarea>
    <butto type="button" class="gt">Guardar terminos</butto>
    <h1>Políticas de privacidad</h1>
    <textarea name="politicas" rows="8" cols="80"></textarea>
    <button class="gp" type="button">Guardar Políticas</button>
  </div>
</template>
