<template name="Admin">
  {{#if currentUser}}
    {{#if isInRole 'administrador' 'default-group'}}
      {{> menu}}
      {{> Template.dynamic template=administrador}}
    {{/if}}
  {{else}}
    {{> loginAdmin}}
  {{/if}}
</template>

<template name="loginAdmin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="usr">Email:</label>
            <input type="email" name="email" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" name="password" class="form-control" id="pwd">
          </div>
          <button type="submit" class="btn btn-default">Ingresar</button>
        </form>

      </div>
    </div>
  </div>
</template>
