<template name="layout">
  {{#if currentUser}}
  <div class="menu">
    <i class="fa fa-bars abrir" aria-hidden="true"></i>
    <div class="lista">

      <a href="/contactos"  style="width: 95px;">Contactos</a>
      <a href="/anuncios" class="seleccionado">Todos</a>
      <a href="/favoritos"  style="width: 95px;">Favoritos</a>
    </div>
  </div>

  <div class="sidebar {{mostrar}}">
    <i class="fa fa-times cerrar" aria-hidden="true"></i>
    <br>
    <br>
    <br>
    <div class="sidebar-lista">
      <button class="anunciar"><a href="/cuenta">Mi cuenta</a></button>
      <button class="anunciar"><a>Pánico</a></button>
      <button class="anunciar"><a href="/anunciar">Anunciar</a></button>
    </div>
  </div>

  {{> Template.dynamic template=contenido}}
  {{/if}}
</template>
