<template name="productos">
  <div class="anuncios">


  {{#each productos}}

    <div class="anuncio" style="height: 186px;">
      <div class="swiper-container" style="height: 97px;">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          {{#each foto}}
          <div class="swiper-slide">
            {{#if isImage}}
            <img src="{{this.url}}" alt="{{this.url}}" style="width: 95px; height: 95px; margin-top: 2px;">
            {{/if}}
          </div>
          {{/each}}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
      </div>
      <span><i class="fa fa-shopping-basket" aria-hidden="true"></i> {{this.titulo}}</span>
      <span><i class="fa fa-star" aria-hidden="true"></i> {{this.descripcion}}</span>
      <div class="foot">

        <span style="width: 60px;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> S/{{this.precio}}</span>
        <span><i class="fa fa-comment" aria-hidden="true"></i> {{comentarios}}</span>
      </div>
    </div>
  {{/each}}
  </div>
</template>

<template name="tiendas">
  <div class="anuncios">
  {{#each tiendas}}

    <div class="anuncio" style="padding-top: 20px; height: 210px">
    <a class="nombre" href="/tiendas/{{this._id}}" style="color: white;">T</a>
      <span><i class="fa fa-shopping-basket" aria-hidden="true"></i> {{this.nombre}}</span>
      <div class="foot">
        <span><i class="fa fa-comment" aria-hidden="true"></i> {{productos this._id}}</span>
      </div>
    </div>
  {{/each}}
  </div>
</template>

<template name="tienda">
  <div class="menu2">
    <a href="/productos" style="color: white"><i class="fa fa-chevron-left" aria-hidden="true"></i>
    <span style="color: white">Tienda {{nombre}}</span></a>
  </div>
   <div class="anuncios">
  {{#each productos}}

    <div class="anuncio" style="padding-top: 20px; height: 210px">
    <a class="nombre" href="/productos/{{this._id}}" style="color: white;">
      
    </a>
      <span><i class="fa fa-shopping-basket" aria-hidden="true"></i> {{this.nombre}}</span>
      <div class="foot">
        <span>S/ {{this.precio}}</span>
      </div>
    </div>
  {{/each}}
  </div>
</template>