<template name="productos">
  <div class="anuncios">
  <button type="button" style="display: block; margin-bottom: 15px;" class="btn btn-info" data-toggle="collapse" data-target="#demo"><i class="fa fa-filter" aria-hidden="true"></i> Filtros</button>
  <div id="demo" class="collapse" >
  <br>

  </div>


  {{#each productos}}

    <div class="anuncio">
      <div class="swiper-container" style="height: 97px;">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          {{#each foto}}
          <div class="swiper-slide">
            {{#if isImage}}
            <img src="{{this.url}}" alt="{{this.url}}" style="width: 95px; height: 95px; margin-top: 2px;">
            {{/if}}
          </div>
          {{/each}}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
      </div>
      <span><i class="fa fa-shopping-basket" aria-hidden="true"></i> {{this.titulo}}</span>
      <span><i class="fa fa-star" aria-hidden="true"></i> {{this.descripcion}}</span>
      <div class="foot">

        <span style="width: 55px;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> {{this.precio}}</span>
        <span><i class="fa fa-comment" aria-hidden="true"></i> {{comentarios}}</span>
      </div>
    </div>
  {{/each}}
  </div>
</template>

<template name="tiendas">
  <div class="anuncios">
  <div id="demo" class="collapse" >
  <br>

  </div>


  {{#each tiendas}}

    <div class="anuncio" style="padding-top: 20px;">
    <span class="nombre" style="color: white;">T</span>
      <span><i class="fa fa-shopping-basket" aria-hidden="true"></i> {{this.nombre}}</span>
      <div class="foot">
        <span><i class="fa fa-comment" aria-hidden="true"></i> {{productos this._id}}</span>
      </div>
    </div>
  {{/each}}
  </div>
</template>
