<template name="ResetPassword">
	{{#if resetPassword}}
	<div id="resetPassword">
		<form class="resetPasswordForm" method="post">
			<input id="resetPasswordPassword" name="password" placeholder="New Password" type="password">
			<input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password">
			<input class="btn-submit" type="submit" value="Reset">
		</form>
		<!-- end #reset-password-form -->
	</div>
	{{else}}

  <div class="contenedor">
    <div class="wrapper">

      <div class="formulario" style="padding-top: 2px;">
          <div class="marketing">
            <img src="/logo2.png" alt="logo">
          </div>

          <div class="search ">
            <span data-icon="9" class="icon"></span>
            <input name="password" type="password" placeholder="Nueva contraseña" id="resetPasswordPassword">
          </div>
          <div class="search ">
            <span data-icon="9" class="icon"></span>
            <input name="password-confirm" type="password" placeholder="Confirmar contraseña" id="resetPasswordPasswordConfirm">
          </div>

          <input type="button" class="boton ingresar reset" value="Cambiar Contraseña">

          <p>¿Ya tienes una cuenta? <a href="/login">Ingresa</a></p>
      </div>
    </div>
  </div>

	{{/if}}
</template>
