<template name="signup">
  <div class="contenedor">
    <div class="wrapper">

      <div class="formulario" style="padding-top: 10px;">

        <h1>Crea Tu Cuenta</h1>

          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="Nombre completo">
          </div>
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="Email" type="email">
          </div>
          <!--<div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="DNI">
          </div> -->
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="Teléfono / Celular">
          </div>
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="Edad">
          </div>
        <!--  <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="Color de piel">
          </div>
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="Cabello">
          </div>
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input placeholder="Intereses">
          </div> -->
          <div class="search ">
            <span data-icon="9" class="icon"></span>
            <input placeholder="Contraseña">
          </div>
          <input type="button" class="boton ingresar" value="Registrarse">

          <p>¿Ya tienes una cuenta? <a href="/">Ingresa</a></p>
      </div>
    </div>
  </div>
</template>
