<template name="signup">
  <div class="contenedor">
    <div class="wrapper">

      <div class="formulario" style="padding-top: 32px;">

        <h1>Crea Tu Cuenta</h1>
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input name="email" placeholder="Email" type="email">
          </div>
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input name="nombre" placeholder="Nombre completo" type="text">
          </div>
        <!--  <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input name="username" placeholder="Nombre de usuario" type="text">
          </div> -->
        <!--  <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input name="telefono" placeholder="Teléfono / Celular" type="number">
          </div> -->
          <div class="search ">
            <span data-icon="f" class="icon"></span>
            <input name="edad" placeholder="Edad" type="number">
          </div>

          <div class="search ">
            <span data-icon="9" class="icon"></span>
            <input name="password" type="password" placeholder="Contraseña">
          </div>
          <p style="font-size: 10px;">Al registrarte estas aceptando nuestros <a href="/t">terminos y condiciones</a> y <a href="/p">políticas de privacidad</a> </p>
          <input type="button" class="boton ingresar" value="Registrarse">

          <p>¿Ya tienes una cuenta? <a href="/">Ingresa</a></p>
      </div>
    </div>
  </div>
</template>
