<template name="PerfilAnunciante">

  {{#with anunciante}}
  <div class="perfil">
    <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each fotos}}
        <div class="swiper-slide">
          <img src="{{this.url}}" alt="{{this.url}}">
        </div>
        {{/each}}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
    <span class="s-anunciante"><i class="fa fa-map-marker" aria-hidden="true"></i> {{this.ubicacion}}</span>
    <div class="calificacion">
      <button class="1">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="2">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="3">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="4">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="5">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="6">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="7">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="8">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="9">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
      <button class="10">
        <i class="fa fa-star" aria-hidden="true"></i>
      </button>
    </div>

    <p>{{this.calificacion}}</p>
    {{#if estaPendiente}}
    <input type="button" value="Contactate" class="contacto">
    {{else}}
    <input type="button" value="Pendiente" class="pendiente contacto">
    {{/if}}
  </div>

  <div class="caracteristicas">
    <table>

      <tbody>
        <tr>
          <td>Género</td>
          <td>{{this.genero}}</td>

        </tr>
        <tr>

          <td>Contextura</td>
          <td>{{this.contextura}}</td>
        </tr>
        <tr>

          <td>Color de Piel</td>
          <td>{{this.piel}}</td>
        </tr>
        <tr>

          <td>Color de Cabello</td>
          <td>{{this.cabello}}</td>
        </tr>
        <tr>

          <td>Edad</td>
          <td>{{this.edad}}</td>
        </tr>
       </tbody>
    </table>
    <h1>Comentarios</h1>
    <div class="comentarios">
      <br>
      <br>
      {{#each comentarios}}
      <div class="comentario">
        <img src="/principal.jpg">
        <p>
          <span>{{this.username}}</span>
          <a>{{this.comentario}}</a>
        </p>
      </div>
      {{/each}}


    </div>
  </div>
  {{/with}}
</template>

<template name="calificar">
  <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">



                <div class="modal-body">
                    <input type="text" class="box-comentario" name="comentario" placeholder="¿Por que calificaste con ese puntaje?">
                    <button type="button" class="comentar">Comentar</button>
                </div>



            </div>
        </div>
    </div>
</template>
