<template name="PerfilAnunciante">
  {{#with anunciante}}
  <div class="perfil">
    <div class="swiper-container">
      <div class="swiper-wrapper">
          {{#each fotos}}
          <div class="swiper-slide">
            <img src="{{this.url}}" alt="{{this.url}}">
          </div>
          {{/each}}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
    <span class="s-anunciante">{{this.intereses}}</span>
    <span class="s-anunciante"><i class="fa fa-map-marker" aria-hidden="true"></i> {{this.ubicacion}}</span>
    <span class="s-anunciante"><i class="fa fa-user" aria-hidden="true"></i> {{this.nombre}}</span>

    <a href="tel:{{this.telefono}}" class="contacto llamar">Llamar</a>
    <a href="#" class="contacto sms">SMS</a>

    <button class="favorito" style="display: block; width: 40px; height: 40px; margin: 10px auto; border: none; background-color: transparent; color: rgba(241, 196, 15,1.0); font-size: 35px;">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>

  </div>

  <div class="caracteristicas">
    <table>

      <tbody>
        <tr>
          <td>Género</td>
          <td>{{this.genero}}</td>

        </tr>
        <tr>

          <td>Contextura</td>
          <td>{{this.contextura}}</td>
        </tr>
        <tr>

          <td>Color de Piel</td>
          <td>{{this.piel}}</td>
        </tr>
        <tr>

          <td>Color de Cabello</td>
          <td>{{this.cabello}}</td>
        </tr>
        <tr>

          <td>Edad</td>
          <td>{{this.edad}}</td>
        </tr>
       </tbody>
    </table>
  </div>
  {{/with}}
</template>

<template name="calificar">
  <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" class="box-comentario" name="comentario" placeholder="¿Por que calificaste con ese puntaje?" style="color: rgba(127, 140, 141,1.0)">
                    <button type="button" class="comentar">Comentar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="ofertar">
  <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="number" class="box-comentario" name="oferta" placeholder="Con que precios deseas negociar" style="color: rgba(127, 140, 141,1.0)">
                    <button type="button" class="comentar">Ofertar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="contactoAnunciante">
  <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Contactate a 985623447</h4>
                </div>
            </div>
        </div>
    </div>
</template>
