<template name="Contactos">
  <div class="anuncios">
<!-- {{#each contactos}} -->

    <div class="anuncio" style="height: 255px;">
      <!-- {{#each fotosDeContacto}} -->
      <img src="/principal.jpg" style="width: 120px; height: 120px;">
      <!-- {{/each}} -->
      <span><i class="fa fa-user" aria-hidden="true"></i> Claudia <!--{{nombreDeContacto}} --></span>
      <!--{{#if ContactoPendiente this.anuncianteId}} -->
        <button class="contacto">Pendiente</button>
    <!--  {{else}} -->
        <!-- <button>Llamar</button> -->
      <!-- {{/if}} -->
    </div>

<!-- {{/each}} -->


  </div>
</template>
