<template name="Favoritos">
  {{#each favoritos}}

    <div class="anuncio" style="margin: 15px auto; height: 195px; padding-top: 5px; margin-bottom: 0px">
      <span class="remove-favorito" style="position: relative; top: 5px; left: 45%"><i class="fa fa-times" aria-hidden="true"></i></span>
      <div class="swiper-container a" style="height: 97px; margin-bottom: 5px; width: 300px">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          {{#each fotosDeContacto this.anuncianteId}}
          <div class="swiper-slide">
            {{#if isImage}}
            <img src="{{this.url}}" alt="{{this.url}}" style="width: 95px; height: 95px; margin-top: 2px;">
            {{/if}}
          </div>
          {{/each}}
      </div>

      </div>

      <span ><i class="fa fa-user" aria-hidden="true"></i> {{nombreDeContacto this.anuncianteId}}</span>

    </div>

      <a href="tel:{{telefono this.anuncianteId}}" class="contacto" style="width: 100px; height: 20px; font-size: 12px; color: white; margin-top: 0px; padding-top: 2px; text-align: center;
      position: relative; top: -30px">Llamar</a>

  {{/each}}

</template>
