<template name="todos">
  <div class="anuncios">
  {{#each anunciantes}}
    <div class="anuncio">

      {{#each foto}}
      {{#if isImage}}
      <img src="{{this.url}}">
      {{/if}}
      {{/each}}

      <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{this.ubicacion}}</span>
      <div class="foot">
        <span><i class="fa fa-star" aria-hidden="true"></i> {{this.calificacion}}</span>
        <span style="width: 55px;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> {{this.precio}}</span>
        <span><i class="fa fa-comment" aria-hidden="true"></i> 10</span>
      </div>
    </div>
  {{/each}}
  </div>
</template>
